<h1> This page shows top stuff.  </h1>
<a ng-href="#/near"><button> To stuff near me </button></a>
<button ng-click="nextPicture()">Nästa sida </button>
<video class="cameraFeedContainer" id="video" width="100" height="100" autoplay></video>

<h2 class="infoText">Picture index: {{currentPictureIndex()}}.</h2>
<img ng-src="{{currentPicture().link}}"/>


<!-- <div ng-repeat="picture in topPictures() | limitTo:imagesPerPage">
	<div ng-if="!picture.is_album">
		<div ng-if="picture.animated">
			<center>
				<iframe class='image animated' seamless height="{{picture.height}}" width='100%' ng-src="{{picture.gif}}"></iframe>
			</center>
		</div>
		<div ng-if="!picture.animated">
			<img class='image' ng-src="{{picture.link}}"></img>
		</div>
	</div>
	
</div> -->