<h1> This page shows top stuff.  </h1>
<a ng-href="#/near"><button> To stuff near me </button></a>
<div ng-repeat="picture in topPictures() | limitTo:imagesPerPage">
	<!-- <h3>{{picture.title}}</h3> -->
	<div ng-if="!picture.is_album">
		<div ng-if="picture.animated">
			<center>
				<iframe class='image animated' seamless height="{{picture.height}}" width='100%' ng-src="{{picture.gif}}"></iframe>
			</center>
		</div>
		<div ng-if="!picture.animated">
			<img class='image' ng-src="{{picture.link}}"></img>
		</div>
	</div>
	
</div>