.image{
	width: 100%;
}

.image.animated{
	width: 150%;
}

iframe{
	border: 0;
	-moz-transform: scale(0.8, 0.8); 
	-webkit-transform: scale(0.8, 0.8); 
	-o-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8); 
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	/*overflow: hidden;*/
	width: 100%;
	/*min-width: 100vw;*/
}

.container{
	background-color: #333333;
}