<video class="cameraFeedContainer" ng-show="cameraSupported()" id="video" width="250" height="250" autoplay></video>

<div class="overlay" ng-class="{'green' : postLiked, 'red' : postDisliked}" ng-show="postLiked || postDisliked">
	<div class="reactionFaceContainer">
		<center>
			<div class="reactionFaceDiv">
				<p class="reactionFaceCaption"> Your reaction face </p>
				<!-- <img src="img/camera-not-supported.jpg" id="cameraNotSupported" ng-hide="cameraSupported()" class="selfie"/> -->
				<!-- <center> -->
					<img ng-src="{{yourFace()}}" class="selfie"/>

			</div>
		<!-- </center> -->
		<!-- <center> -->
			<div class="reactionFaceDiv">
				<p class="reactionFaceCaption">Someone elses reaction face</p>
				<!-- <center> -->
					<img ng-src="{{randomSelfie()}}" class="selfie"/>
				<!-- </center> -->
			</div>
		</center>
	</div>

	<button class="nextButton" ng-class="{'disliked' : postDisliked, 'liked' : postLiked}" ng-show="postDisliked || postLiked" ng-click="nextPicture()">Next</button>
</div>

<center>
	<div ng-swipe-right="likeCurrentPicture()" ng-swipe-left="dislikeCurrentPicture()" style="max-width:1000px;">
		<h2 class="title">{{currentPicture().title}}</h2>
		<p ng-show="hasDescription()" class="description">{{currentPicture().description}}</p>
		<img ng-show="!currentPicture().animated" class="imageContainer" ng-src="{{currentPicture().link}}"/>
<canvas style="display:none;" id="canvas" width="250" height="250"></canvas>
<!-- <iframe class="iframe" ng-show="currentPicture().animated" type="text/html" ng-src="{{trustSrc(currentPicture().gifv)}}" allowfullscreen frameborder="0"></iframe>
</div> -->
	</div>	
</center>